In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('AutomobilepriceData.csv')
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [3]:
df.replace(to_replace ="?", 
                 value =np.nan,inplace=True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [5]:
make = pd.get_dummies(df['make'],drop_first=True)
fueltype = pd.get_dummies(df['fuel-type'],drop_first=True)
aspiration = pd.get_dummies(df['aspiration'],drop_first=True)
numofdoors = pd.get_dummies(df['num-of-doors'],drop_first=True)
bodystyle = pd.get_dummies(df['body-style'],drop_first=True)
drivewheels = pd.get_dummies(df['drive-wheels'],drop_first=True)
enginelocation = pd.get_dummies(df['engine-location'],drop_first=True)
fuelsystem = pd.get_dummies(df['fuel-system'],drop_first=True)
enginetype = pd.get_dummies(df['engine-type'],drop_first=True)
cylno = pd.get_dummies(df['num-of-cylinders'],drop_first=True)

df.drop(['make','fuel-type','aspiration','num-of-doors','body-style','drive-wheels','engine-location','fuel-system','engine-type','num-of-cylinders'],axis=1,inplace=True) 

df = pd.concat([df,make,fueltype,aspiration,numofdoors,bodystyle,drivewheels,enginelocation,fuelsystem,enginetype,cylno],axis=1)

In [6]:
df.head()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,...,ohc,ohcf,ohcv,rotor,five,four,six,three,twelve,two
0,3,NaN,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,0,0,0,0,1,0,0,0,0
1,3,NaN,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,0,0,0,0,1,0,0,0,0
2,1,NaN,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,...,0,0,1,0,0,0,1,0,0,0
3,2,164,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,...,1,0,0,0,0,1,0,0,0,0
4,2,164,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,...,1,0,0,0,1,0,0,0,0,0

In [7]:
df.apply(pd.to_numeric, errors='coerce')

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,...,ohc,ohcf,ohcv,rotor,five,four,six,three,twelve,two
0,3,NaN,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,0,0,0,0,1,0,0,0,0
1,3,NaN,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,0,0,0,0,1,0,0,0,0
2,1,NaN,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,...,0,0,1,0,0,0,1,0,0,0
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,...,1,0,0,0,0,1,0,0,0,0
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,...,1,0,0,0,0,1,0,0,0,0
201,-1,95.0,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,...,1,0,0,0,0,1,0,0,0,0
202,-1,95.0,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,...,0,0,1,0,0,0,1,0,0,0
203,-1,95.0,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,...,1,0,0,0,0,0,1,0,0,0
204,-1,95.0,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,...,1,0,0,0,0,1,0,0,0,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 66 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   wheel-base         205 non-null    float64
 3   length             205 non-null    float64
 4   width              205 non-null    float64
 5   height             205 non-null    float64
 6   curb-weight        205 non-null    int64
 7   engine-size        205 non-null    int64
 8   bore               201 non-null    object
 9   stroke             201 non-null    object
 10  compression-ratio  205 non-null    float64
 11  horsepower         203 non-null    object
 12  peak-rpm           203 non-null    object
 13  city-mpg           205 non-null    int64
 14  highway-mpg        205 non-null    int64
 15  price              201 non-null    object
 16  audi               205 non-null    uint8
 17  bmw                205 non-null    uint8
 18  chevrolet          205 non-null    uint8
 19  dodge              205 non-null    uint8
 20  honda              205 non-null    uint8
 21  isuzu              205 non-null    uint8
 22  jaguar             205 non-null    uint8
 23  mazda              205 non-null    uint8
 24  mercedes-benz      205 non-null    uint8
 25  mercury            205 non-null    uint8
 26  mitsubishi         205 non-null    uint8
 27  nissan             205 non-null    uint8
 28  peugot             205 non-null    uint8
 29  plymouth           205 non-null    uint8
 30  porsche            205 non-null    uint8
 31  renault            205 non-null    uint8
 32  saab               205 non-null    uint8
 33  subaru             205 non-null    uint8
 34  toyota             205 non-null    uint8
 35  volkswagen         205 non-null    uint8
 36  volvo              205 non-null    uint8
 37  gas                205 non-null    uint8
 38  turbo              205 non-null    uint8
 39  two                205 non-null    uint8
 40  hardtop            205 non-null    uint8
 41  hatchback          205 non-null    uint8
 42  sedan              205 non-null    uint8
 43  wagon              205 non-null    uint8
 44  fwd                205 non-null    uint8
 45  rwd                205 non-null    uint8
 46  rear               205 non-null    uint8
 47  2bbl               205 non-null    uint8
 48  4bbl               205 non-null    uint8
 49  idi                205 non-null    uint8
 50  mfi                205 non-null    uint8
 51  mpfi               205 non-null    uint8
 52  spdi               205 non-null    uint8
 53  spfi               205 non-null    uint8
 54  dohcv              205 non-null    uint8
 55  l                  205 non-null    uint8
 56  ohc                205 non-null    uint8
 57  ohcf               205 non-null    uint8
 58  ohcv               205 non-null    uint8
 59  rotor              205 non-null    uint8
 60  five               205 non-null    uint8
 61  four               205 non-null    uint8
 62  six                205 non-null    uint8
 63  three              205 non-null    uint8
 64  twelve             205 non-null    uint8
 65  two                205 non-null    uint8
dtypes: float64(5), int64(5), object(6), uint8(50)
memory usage: 35.8+ KB

In [14]:
df['normalized-losses'] = df['normalized-losses'].apply(pd.to_numeric)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 66 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   wheel-base         205 non-null    float64
 3   length             205 non-null    float64
 4   width              205 non-null    float64
 5   height             205 non-null    float64
 6   curb-weight        205 non-null    int64
 7   engine-size        205 non-null    int64
 8   bore               201 non-null    object
 9   stroke             201 non-null    object
 10  compression-ratio  205 non-null    float64
 11  horsepower         203 non-null    object
 12  peak-rpm           203 non-null    object
 13  city-mpg           205 non-null    int64
 14  highway-mpg        205 non-null    int64
 15  price              201 non-null    object
 16  audi               205 non-null    uint8
 17  bmw                205 non-null    uint8
 18  chevrolet          205 non-null    uint8
 19  dodge              205 non-null    uint8
 20  honda              205 non-null    uint8
 21  isuzu              205 non-null    uint8
 22  jaguar             205 non-null    uint8
 23  mazda              205 non-null    uint8
 24  mercedes-benz      205 non-null    uint8
 25  mercury            205 non-null    uint8
 26  mitsubishi         205 non-null    uint8
 27  nissan             205 non-null    uint8
 28  peugot             205 non-null    uint8
 29  plymouth           205 non-null    uint8
 30  porsche            205 non-null    uint8
 31  renault            205 non-null    uint8
 32  saab               205 non-null    uint8
 33  subaru             205 non-null    uint8
 34  toyota             205 non-null    uint8
 35  volkswagen         205 non-null    uint8
 36  volvo              205 non-null    uint8
 37  gas                205 non-null    uint8
 38  turbo              205 non-null    uint8
 39  two                205 non-null    uint8
 40  hardtop            205 non-null    uint8
 41  hatchback          205 non-null    uint8
 42  sedan              205 non-null    uint8
 43  wagon              205 non-null    uint8
 44  fwd                205 non-null    uint8
 45  rwd                205 non-null    uint8
 46  rear               205 non-null    uint8
 47  2bbl               205 non-null    uint8
 48  4bbl               205 non-null    uint8
 49  idi                205 non-null    uint8
 50  mfi                205 non-null    uint8
 51  mpfi               205 non-null    uint8
 52  spdi               205 non-null    uint8
 53  spfi               205 non-null    uint8
 54  dohcv              205 non-null    uint8
 55  l                  205 non-null    uint8
 56  ohc                205 non-null    uint8
 57  ohcf               205 non-null    uint8
 58  ohcv               205 non-null    uint8
 59  rotor              205 non-null    uint8
 60  five               205 non-null    uint8
 61  four               205 non-null    uint8
 62  six                205 non-null    uint8
 63  three              205 non-null    uint8
 64  twelve             205 non-null    uint8
 65  two                205 non-null    uint8
dtypes: float64(6), int64(5), object(5), uint8(50)
memory usage: 35.8+ KB

In [16]:
df['bore'] = df['bore'].apply(pd.to_numeric)
df['stroke'] = df['stroke'].apply(pd.to_numeric)
df['horsepower'] = df['horsepower'].apply(pd.to_numeric)
df['peak-rpm'] = df['peak-rpm'].apply(pd.to_numeric)
df['price'] = df['price'].apply(pd.to_numeric)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 66 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   wheel-base         205 non-null    float64
 3   length             205 non-null    float64
 4   width              205 non-null    float64
 5   height             205 non-null    float64
 6   curb-weight        205 non-null    int64
 7   engine-size        205 non-null    int64
 8   bore               201 non-null    float64
 9   stroke             201 non-null    float64
 10  compression-ratio  205 non-null    float64
 11  horsepower         203 non-null    float64
 12  peak-rpm           203 non-null    float64
 13  city-mpg           205 non-null    int64
 14  highway-mpg        205 non-null    int64
 15  price              201 non-null    float64
 16  audi               205 non-null    uint8
 17  bmw                205 non-null    uint8
 18  chevrolet          205 non-null    uint8
 19  dodge              205 non-null    uint8
 20  honda              205 non-null    uint8
 21  isuzu              205 non-null    uint8
 22  jaguar             205 non-null    uint8
 23  mazda              205 non-null    uint8
 24  mercedes-benz      205 non-null    uint8
 25  mercury            205 non-null    uint8
 26  mitsubishi         205 non-null    uint8
 27  nissan             205 non-null    uint8
 28  peugot             205 non-null    uint8
 29  plymouth           205 non-null    uint8
 30  porsche            205 non-null    uint8
 31  renault            205 non-null    uint8
 32  saab               205 non-null    uint8
 33  subaru             205 non-null    uint8
 34  toyota             205 non-null    uint8
 35  volkswagen         205 non-null    uint8
 36  volvo              205 non-null    uint8
 37  gas                205 non-null    uint8
 38  turbo              205 non-null    uint8
 39  two                205 non-null    uint8
 40  hardtop            205 non-null    uint8
 41  hatchback          205 non-null    uint8
 42  sedan              205 non-null    uint8
 43  wagon              205 non-null    uint8
 44  fwd                205 non-null    uint8
 45  rwd                205 non-null    uint8
 46  rear               205 non-null    uint8
 47  2bbl               205 non-null    uint8
 48  4bbl               205 non-null    uint8
 49  idi                205 non-null    uint8
 50  mfi                205 non-null    uint8
 51  mpfi               205 non-null    uint8
 52  spdi               205 non-null    uint8
 53  spfi               205 non-null    uint8
 54  dohcv              205 non-null    uint8
 55  l                  205 non-null    uint8
 56  ohc                205 non-null    uint8
 57  ohcf               205 non-null    uint8
 58  ohcv               205 non-null    uint8
 59  rotor              205 non-null    uint8
 60  five               205 non-null    uint8
 61  four               205 non-null    uint8
 62  six                205 non-null    uint8
 63  three              205 non-null    uint8
 64  twelve             205 non-null    uint8
 65  two                205 non-null    uint8
dtypes: float64(11), int64(5), uint8(50)
memory usage: 35.8 KB

In [19]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.drop('price',axis=1), 
                                                    df['price'], test_size=0.30, 
                                                    random_state=101)

In [20]:
from sklearn.linear_model import LogisticRegression

logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').